@import "tailwindcss";

.font-lato {
    font-family: "Lato", sans-serif;

}

.font-Raleway {
    font-family: "Raleway", sans-serif;

}

.font-Poppins {
    font-family: "Poppins", sans-serif;

}

.font-Quicksand {

    font-family: "Quicksand", sans-serif;
}